/* varible*/

:root {
  --primary-color: #028090d3;
  --secondary-color: #6c757d;
}
/* general style*/
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
* {
  font-family: main;
}

.btn {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: Shoroq;
  transition: all .5s linear;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
}
.btn:hover {
  background-color: var(--primary-color);
  box-shadow: 0px 0px 4px 0px var(--primary-color);
  color: white;
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
}
.btn:focus {
  box-shadow: none !important ;
}
.form-control:focus {
  box-shadow: none !important ;
}
/* end general style*/

/*start header */

header {
  background-color: var(--primary-color);
}
header .container .list {
  color: white;
}

.navbar-brand {
  font-size: 20px !important;
  font-weight: bold;
  color: white !important;
}
.navbar-brand  img{
  transition: all .5s linear;
  width:50px;
  height:50px;
  transform: scale(2.5,3);
  -webkit-transform: scale(2.5,3);
  -moz-transform: scale(2.5,3);
  -ms-transform: scale(2.5,3);
  -o-transform: scale(2.5,3);
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
}
.navbar-brand  img:hover{
  transform: scale(2.7,3.1);
  -webkit-transform: scale(2.7,3.1);
  -moz-transform: scale(2.7,3.1);
  -ms-transform: scale(2.7,3.1);
  -o-transform: scale(2.7,3.1);
}
.navbar-toggler:focus {
  border: none;
  outline: none !important;
  box-shadow: 0px 0px 3px 0px #000f11 !important ;
}

.nav-link {
  transition: all .5s linear;
  font-size: 22px;
  font-weight: bold;
  font-family: Shoroq;
  padding-left: 15px;
  padding-right: 15px;
  color: white !important;
}
.navbar-nav{
  padding-top: 10px;
}
.nav-link:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
/*end header */
/*start hero*/
.hero {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 80px);
  color: white;
}

.hero .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero .container .content h1 {
  font-size: 60px;
}
.hero .container .content p {
  font-size: 40px;
  font-family: Shoroq;
}

/*end hero*/
/*start signup  , verifycode and  Contact*/
.SignUp,
.verifycode,
.Contact {
  background-color: #e9ecef;
}

.SignUp .head h2,
.verifycode .head h2,
.Contact .head h2,
.mange h2,
.SignIn .head h2,
.addMessage .head h2,
.users .head h2,
.replay .head h2,
.message .head h2 {
  color: var(--primary-color);
  line-height: 40px;
  font-family: Shoroq;
  font-size: 40px;
}
.SignUp .content .exist h4 {
  color: red;
  font-family: Shoroq;
  font-size: 25px !important;
}
.SignUp .content .exist p {
  color: var(--primary-color);
}
.SignUp .content .group .input-group .form-control,
.replay .content .form-group .form-control,
.addMessage .content .form-group .form-control {
  color: var(--primary-color);
  font-family: Shoroq;
  font-size: 20px;
}
.SignUp .content .group .input-group .form-control::placeholder {
  font-size: 20px;
}
.Contact .head p {
  color: var(--primary-color);
  font-size: 25px;
  font-family: Shoroq;
  line-height: 50px;
}
.Contact .content form label,
.replay .content .form-group label,
.addMessage .content .form-group label {
  font-weight: bolder;
  font-size: 25px;
  font-family: ToyorAljanah;
  color: var(--primary-color);
  width: 100px;
}
.Contact .content .added h4 {
  color: var(--primary-color);
}
.Contact .content .added button {
  font-size: 18px !important;
}
.SignUp .image div img,
.Contact .image div img,
.replay .image div img {
  width: 100%;
  height: 100%;
}
.SignUp .content button,
.verifycode .form form button,
.Contact .content form button {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  width: 150px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  font-family: ToyorAljanah;
}

.SignUp .content .input-group-text {
  font-weight: bolder;
  font-size: 25px;
  font-family: ToyorAljanah;
  color: var(--primary-color);
  width: 100px;
}
.SignUp .content .error {
  display: inline-block;
  margin-top: 10px;
  color: red;
  font-size: 15px;
}

.verifycode .form form button {
  width: 200px;
}
.verifycode .form form input,
.SignUp .content .group .form-control,
.Contact .content .form-group .form-control {
  color: var(--primary-color);
}
.verifycode .form form input::placeholder,
.content .group .form-control::placeholder {
  color: var(--primary-color);
  font-size: 15px;
}
.Contact .content .form-group .form-control[name="message"],
.replay .content .form-group .form-control[name="replay"] {
  height: 200px;
}
.verifycode .container form .error {
  color: red;
  font-size: 15px;
}
.verifycode .container .success h1 {
  font-family: Shoroq;
  color: var(--primary-color);
}
/*end  signup and verifycode*/
/*admin*/
.admin {
  background: rgba(240, 248, 255, 0.904);
}
/*login*/

.SignIn .head h2 {
  color: var(--primary-color);
}
.SignIn .form-group label {
  color: var(--primary-color);
}

.SignIn .container .image img,
.addMessage .container .image img {
  width: 100%;
  height: 100%;
}
.SignIn .errorMesage {
  color: red;
}

.mange .container .content .item {
  background: var(--primary-color);
  color: white;
  cursor: pointer;
  height: 100px;
}
.message .container .content .table-responsive table thead,
.users .container .content .table-responsive table thead {
  color: var(--primary-color);
  font-family: Shoroq;
}
.users .container .content .table-responsive table tbody tr,
.users .container .content .table-responsive table tbody td,
.users .container .content .table-responsive table tbody th,
.message .container .content .table-responsive table tbody tr,
.message .container .content .table-responsive table tbody td,
.message .container .content .table-responsive table tbody th {
  color: #198754 !important;
  font-family: Shoroq;
  font-size: 20px;
}

.users .empty {
  margin-left: auto;
}

footer {
  background-color: var(--primary-color);
  color: rgba(240, 248, 255, 0.904);
  font-size: 20px;
  font-family: Shoroq;
}

footer strong .name{
  color: white;
  font-family: ToyorAljanah;
  text-decoration: none;
}

.errorPage{
 color: var(--primary-color);
  background: rgba(240, 248, 255, 0.904);
}
@media (max-width: 767px) {
  .hero .container .content {
    width: 100% !important;
    padding: 0px !important;
  }
  .hero .container .content h1 {
    font-size: 40px;
  }
  .hero .container .content p {
    font-size: 20px;
  }

  .verifycode form {
    width: 100% !important;
  }
  .verifycode .container .head h2,
  .SignUp .container .head h2 {
    font-size: 25px;
  }
}

@font-face {
  font-family: main;
  src: url("./assets/VIP-Sbgh.otf");
}

@font-face {
  font-family: ToyorAljanah;
  src: url("./assets/ToyorAljanah-Fat.otf");
}

@font-face {
  font-family: head;
  src: url("./assets/HSN_Naskh.ttf");
}

@font-face {
  font-family: Shoroq;
  src: url("./assets/Shoroq-Font.ttf");
}
